In [1]:
import pandas as pd
import sqlite3

wikipedia_dirty = pd.read_excel('wikipedia_dataset_flat.xlsx')
wikipedia_dirty

,id,date,page,visits
0,0.0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1.0,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2.0,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995.0,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996.0,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997.0,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998.0,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999.0,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [2]:
wikipedia_clean = wikipedia_dirty.fillna('unknown')
wikipedia_clean

,id,date,page,visits
0,0.0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1.0,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2.0,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995.0,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996.0,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997.0,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998.0,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999.0,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [3]:
wikipedia_clean = wikipedia_dirty.dropna()
wikipedia_clean

,id,date,page,visits
0,0.0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1.0,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2.0,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4.0,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995.0,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996.0,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997.0,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998.0,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999.0,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [16]:
db_connection = sqlite3.connect("wikipedia.db")
c = db_connection.cursor()

c.execute(
    """
    CREATE TABLE wikisheets (
        id integer, 
        date integer, 
        page text not null, 
        visits integer,
        PRIMARY KEY(id)
        );
    """
)
# c.execute("CREATE table IF NOT EXISTS Wikisheets(id integer, date integer, page text not null, visits integer)")